# ENV['DEVISE_SECRET_KEY']
# ENV["SECRET_KEY_BASE"]
# ENV['WMARKET_DATABASE_USER']
# ENV['WMARKET_DATABASE_PASSWORD']
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2952cd5a720923c14d18d3c5ffdb78f1154e4c2ae255047fa82f6fdc4c9b0dd5858fd80f9c46393f4ec828a75559cd3ab779c3de4761dfedfe5e9ccfaefe6881

test:
  secret_key_base: bf1ba5d4e415a94407051853f2c5021ac34fded13397b7c3f70054d48570289dbe420e96a2388094cc2bd6ab92891274c66a49ce1c492101ba241e2a4521faa4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
ENV['DEVISE_SECRET_KEY']
