%h3.text-center
  Есть вопросы? Напишите нам!
.row.justify-content-center
  .col-sm-4
    = image_tag('vk.png', class: 'contacts__icon')
    %p.text-center
      Онлайн-поддержка
  .col-sm-4
    = image_tag('mail.png', class: 'contacts__icon')
    %p.text-center
      support@wotaccounts.name
