.container
  %b Идентификация Яндекс
  %p Мы прошли идентификацию в платёжной системе Яндекс.Деньги, предоставив нотариально заверенные документы. Это позволяет нам работать с системой без ограничений и гарантирует, что вы проводите операцию с конкретным человеком.
  %b Именной кошелек QIWI
  %p Это специальный счёт в системе QIWI, который привязывается к конкретному магазину, проходя проверку службы безопасности системы QIWI. За каждым магазином закрепляется также менеджер.
  %b Выгодная стабильность
  %p Как бы банально это не звучало, выгодно работать стабильно и постоянно, получая регулярную прибыль, а не обманывать разово. Благодаря этому правилу мы уже скоро отметим год успешной работы.
  %b Успешные сделки
  %p Проведено более 1500 успешных сделок в рамках данного магазина!
  %b Техническая поддержка
  %p У нас работает Техническая Поддержка, которая оперативно ответит на все ваши вопросы в течении рабочего дня.
  %b Замена товара при несоответствии
  %p В случае если вам попался нерабочий аккаунт, мы обязательно его заменим, и в качестве компенсации сделаем скидку 10% на любой товар в нашем магазине.
  %b Положительные отзывы
  %p У нас более 100-та положительных отзывов, в vk.com.
