.jumbotron.jumbotron-fluid.main-slider.main-slider_fraktal
//.container
//.row.justify-content-between
//.col-auto
// image_tag('steam_02.png')
//.col-auto
// image_tag('wt_lo.png', class: 'slider__warthunder')
.container
  - model.each_with_index do |product, index|
    = open_row(index)
    = concept('home/cell/product', product)
    = close_row(index)
.footer_standart
