.jumbotron.jumbotron-fluid.main-slider.main-slider_fraktal
.container
  .row
    .col-md-4
      = image_tag 'mdma-3333', class: 'product__image_small'
      .text-center
        %b
          MDMA - (экстази)
      %p
        Легкость настроения и релаксации уступает волнам физического наслаждения, эйфории, открытости и сочувствия к людям вокруг. Обостряются все органы чувств. Сексуальная активность приносит больше удовлетворения.
      .text-center
        %b
          1шт - 15$
      = button_tag I18n.t('buy'), class: 'btn btn-outline-success product__buy-btn_green-full'
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
  .row
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
    .col-md-4
      .h5
        Heading
      %p
        Changes are contained in just two LESS or SASS files, enabling modification and ensuring forward compatibility.
