.jumbotron.jumbotron-fluid.main-slider.main-slider_fraktal
.container
  - model.each_with_index do |product, index|
    = open_row(index)
    = concept('home/cell/product', product)
    = close_row(index)
.footer_standart
