.col-md-4.product__block-wrapper
  = link_to new_product_order_path(model.id), class: 'product__block-link view overlay hm-blue-light' do
    .product_infowrapper
      = image_tag(avatar.url, class: 'product__image_small img-fluid')
      .mask.flex-center
        %b
          = title
    .text-center
      %b
        = product_price
