.footer_standart{
  height: 20px;
  width: 100%;
}
.form__placeholder{
  @include placeholder{color: #cecece;};
}
.form__refresh_smal{
  height: 15px;
}
.product__image_small{
  width: auto !important;
  height: auto !important;
  display: block;
  margin: auto;
  max-height: 250px;
}
.product__image_medium{
  max-height: 200px;
  max-width: 95vw;
}
.product__block-wrapper{
  margin-bottom: 10px;
}
.product__hoveraminate_medium{
  max-width: 100%;
  height: auto !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: auto;
}
.product__buy-btn_green-full{
  width: 100%;
}
.product_infowrapper{
  height: 320px;
}
.product__block-link{
  text-decoration: none;
  color: black;
}
.product__block-link:hover{
  text-decoration: none;
}
.ih-item.square.effect6.colored .without_fon{
  background: rgba(26, 74, 114, 0) !important;
}
.payform_payicon{
  max-width: 120px;
}
.payform_payicon_miner{
  max-width: 120px;
  max-height: 51px;
}
.payway {
    min-width: 130px;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    padding: 5px;
    padding-bottom: 10px;
    height: 60px;
    line-height: 45px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.payway label {
  width: 118px;
  height: 100%;
}
.payway input[type='radio'] {
  @extend .hidden-xs-up
}
.pay-backwrap{
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}
.paywindow{
  width: 800px;
  max-width: 90vw;
  height: 400px;
  margin: 50px auto;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
}

.closebtn{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px
}
.verticalnav_standart .nav-link{
  color: black;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.verticalnav_standart .active{
  color: #0275d8;
  background-color: aliceblue;
}
.verticalnav_wrapper {

}
.dropdown-menu {
  top: 93% !important;
}
