.footer_standart{
  height: 20px;
  width: 100%;
}
.form__placeholder{
  @include placeholder{color: #cecece;};
}
.form__refresh_smal{
  height: 15px;
}
.product__image_small{
  width: 100%;
}
.product__image_medium{
  max-height: 200px;
  max-width: 95vw;
}
.product__block-wrapper{
  margin-bottom: 10px;
}
.product__buy-btn_green-full{
  width: 100%;
}
.product_infowrapper{
  height: 370px;
}
