.main-slider {
  position: relative;
  min-height: 90vh;
}
.main-slider_fraktal {
  background-image: image-url("steam_02.png"), image-url('wt_lo.png'), image-url("world-of-tanks-2.png"), image-url('steam-random-2.jpg');
  background-position: 5% 15%, 95% 18%, center, center;
  background-size: 30% auto, 30% auto, 70% auto, cover;
  background-repeat: no-repeat;
  background-color: white;
  background-attachment: fixed;
}
@media screen and (max-width: 767px){
  .main-slider_fraktal {
    background-image: image-url("steam_02.png"), image-url('wt_lo.png'), image-url("world-of-tanks-2.png");
    background-position: 5% 18%, 95% 22%, center;
    background-size: 40% auto, 35% auto, 70% auto;
    background-repeat: no-repeat;
    background-color: white;
    background-attachment: fixed;
  }
}
.navbar__link_white {
  color: white !important;
}
.navbar__link_white:hover{

      text-shadow: 0px 3px 0px #00ff18,
                   0px 14px 10px rgba(0,0,0,0.15),
                   0px 24px 2px rgba(0,0,0,0.1),
                   0px 34px 30px rgba(0,0,0,0.1);
}
.slider__wot{
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80vw;
  margin: 0 auto;
  display: block;
}
